<div class="detailsMeasurement">
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Country Details</h2>
        </div>
    </div>
    <hr>
    <div *ngIf="country">
        <div class="country-details">
            <div>
                <label>Country common name:</label> {{country.name}}
            </div>

            <div>
                <label>Country native name:</label> {{country.demonym}}
            </div>

            <div>
                <label>Continent:</label> {{country.region}}
            </div>

            <div>
                <label>Capital city:</label> {{country.capital}}
            </div>

            <div>
                <label>Sub region:</label> {{country.subregion}}
            </div>

            <div>
                <label>Language(s):</label>
                <span *ngFor="let language of country.languages">
                    {{language.name}}
                </span>
            </div>
            <div>
                <label>Area:</label> {{country.area}} km
                <sup><small >2</small></sup>
            </div>
            <div>
                <label>Population Count:</label> {{country.population}}
            </div>
            <div>
                <label>Currencies :</label>
                <span *ngFor="let curreny of country.currencies">
                  {{curreny.code}}
                </span>
            </div>
            <div>
                <label>Borders :</label>
                <span *ngFor="let border of country.borders">
                {{border}}
              </span>
            </div>
        </div>
    </div>
    <div *ngIf="!country">
        <label>Select one particular country on the left!</label>
    </div>
</div>