<div class="row">
    <div class="col-xs-12 listMeasurements">
        <div class="list-group-item clearfix" *ngFor="let country of countries">
            <div class="country.name" (click)="onCountryClicked($event, country)" style="cursor: pointer;">
                <div class="inlineBox">
                    <h4 class="list-group-item-heading">{{ country.name }}</h4>
                    <p class="list-group-item-text">{{ country.capital }}</p>
                </div>

                <div class="flagMeasurements">
                    <img [src]="country.flag" alt="{{country.name}}" class="img-responsive" style="max-height: 50px;">
                </div>
            </div>
        </div>
    </div>
</div>